@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  font-family: 'League Spartan', sans-serif;
  background-image: url(./assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.filter {
  @apply flex overflow-hidden rounded-md;
}

.filter-text {
  @apply bg-black text-white px-2.5 pt-1;
}

.remove-btn {
  @apply px-2 transition duration-300 bg-red-600 hover:opacity-80;
}
